.range-slider {
  height: 8px;
  border-radius: 1px;
  background: #e8e8e8;

  .range-slider__range {
    background: #ca6251;
    cursor: default;
  }

  .range-slider__thumb {
    width: 10px;
    height: 20px;
    border-radius: 1px;
    border: 1px solid #d8d8d8;
    background-color: #f8f8f8;
  }
}
