# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
# Needed to fetch data from Airtable during prebuild, so no need to add it to "/src/env.js"
AIRTABLE_TOKEN=patG4o6i6xTHZcPxF.b13d335300452bff2ee1b63a0c394306b924f7ce89b5c687407c94fe0829a8f9
