.Viz {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 100%;
}


// quick hack just to kill grid lines
.Viz .background-graphics {
    display: none;
}

.Viz svg {
    width: 100%;
    height: 100%;
}
