@layer base {
  @font-face {
    font-family: "yalenewroman";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../public/fonts/yalenew-roman-webfont.woff2") format("woff2");
  }

  @font-face {
    font-family: "proximanova";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../public/fonts/ProximaNova-Reg.ttf") format("ttf");
  }
}

$font-serif: "yalenewroman";
$font-sans: proxima-nova, sans-serif, arial;
