.FortunoffApp {
  .x-circle-icon {
    height: 1em;
    width: 1em;
    background: url("./graphics/x-circle-icon.svg") no-repeat scroll 1em 1em;
    background-origin: content-box;
    background-position: center center;
    background-size: 1em;
  }
}
// .dropdown-icon {
//     height: 1em;
//     width: 1em;
//     background-origin: content-box;
//     background-origin: content-box;
//     background-position: center center;
//     background-size: 1em;
// }

// .dropdown-icon.x{
//     background: url("./graphics/x-field.svg") no-repeat scroll 1em 1em;
// }

// .dropdown-icon.arrow{
//     background: url("./graphics/x-circle-icon.svg") no-repeat scroll 1em 1em;
// }
