.FortunoffApp {
  margin-bottom: 30px;

  .module-box {
    border-radius: 8px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    // padding: 0px 30px 30px 30px;
    padding: 24px 20px 20px 20px;
    background-color: $color-white;

    .title {
      @include typography-module-box-title;
      text-align: center;
    }
  }

  section {
    margin-top: 30px;
  }

  .prose {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: $font-serif;
    font-size: 24px;
    text-align: center;
    color: $color-darkgray;

    .stat {
      color: $color-fortunoff;
    }
  }
}
