.Programs {
  overflow: scroll;
}


.Programs {

  svg {
    // height: 100px;
    // height: 400px;
    // height:300px;
    // height: 100%;
    cursor: pointer;
  }
  rect {
    fill: #bbb;
    pointer-events: all;
    cursor: pointer;
  }

  // svg rect:hover{
  //   fill:red;
  // }
  rect.highlighted {
    fill: black;
  }
}
